body {
    background-color: rgb(72, 135, 135);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    display :flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 20px;
    padding: 50px;
}
.dashboard-container {
    background-color: rgb(113, 219, 206);
    border-radius: 10px;
    gap:20px;
    box-shadow: 0 4px 8px rgb(4, 67, 60);
    padding: 25px;
    width: 300px;
    text-align: center;
}
.card {
    background-color: rgb(86, 165, 165);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgb(4, 67, 60);
    padding: 20px;
    margin: 10px;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover{
    transform: translate(-10px);
}
.card:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgb(4, 67, 60);
}
h3 {
    color:rgb(2, 52, 35);
    font-size: 1.2rem;
}
#focus-timer {
    font-size: 1.3rem;
    color: rgb(2, 52, 35);
}
#break-timer {
    font-size: 1.3rem;
    color: rgb(2, 52, 35);
}
h1{
    transform: translate(-50px);
}